# ================= BACKEND =================

__pycache__/
*.pyc
*.pyo
*.pyd

.env
instance/

venv/
env/

*.sqlite3
*.db

uploads/*
!uploads/.gitkeep

# Flask / Testing
.pytest_cache/
.coverage
htmlcov/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db
